#app
  height: 100%
  overflow: hidden
.md-version-select
  #lana-add
    color: #fff
    display: flex
    justify-content: center
    align-items: center
    &:hover
      background: initial
  .el-select-dropdown__item
    display: flex
    justify-content: space-between
    padding: 0 8px 0 20px
    .btns
      margin-left: .8rem
      display: flex
      align-items: center
      .edit
        color: #909399
        margin-right: .5em
        &:hover
          background: #686868
          color: #fff
          border-radius: 5px
          padding: 2px
      .dele
        color: #F56C6C
        &:hover
          background: #F56C6C
          color: #fff
          border-radius: 5px
          padding: 2px
    .md-select-word
      width: 100%
      margin: 5px 12px 0 0

#Tree, #MarkDown, #BreadCrumb
  --tree_BG: #e9e9e9
